<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <iisnode node_env="production" loggingEnabled="true" devErrorsEnabled="true" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
