<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- يحدد أن iisnode سيعالج الطلبات الموجهة إلى server.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- قاعدة لإعادة توجيه كل الطلبات إلى server.js -->
        <rule name="Node">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- تمرير الأخطاء إلى تطبيق Node.js بدلاً من عرض صفحة خطأ IIS -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
